@import 'breakpoints.scss';

@import 'components/MainPage.scss';
@import 'components/Lobby.scss';
@import 'components/WaitingRoom.scss';
@import 'components/GameRoom.scss';
@import 'gridLayout.scss';

html, body {
  font-family: Quicksand;
  margin: 0;
  overflow-x: hidden;
  // position: fixed;
  width: 100%;
  // overflow: hidden;
}